@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
}

:root {
    --gradient-opacity1: 1;
    --gradient-opacity2: 0;
    --gradient-color: linear-gradient(196deg, #f1a9a9, #e66767);
    --gradient-color1: linear-gradient(196deg, #f1a9a9, #e66767);
    --gradient-color2: linear-gradient(196deg, #f1a9a9, #e66767);
    --op1 : 0.8;
    --op2 : 0.8;
}

/* container */

.flex {
    display: flex;
    align-items: center;
}

#background {
    min-height: 100vh;
    background-image: var(--gradient-color);
    position: relative;
    z-index: 1;
}

#background::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--gradient-color1);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: var(--gradient-opacity1);
}

#background::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--gradient-color2);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: var(--gradient-opacity2);
}



.container {
    max-width: 1200px;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
    padding-top: 100px;
}

.container-left img {
    width: 500px;
}

.shakeEffect {
    animation: shake 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}


@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0) rotate(2deg);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }

    40%,
    60% {
        transform: translate3d(3px, 0, 0) rotate(3deg);
    }
}

.container-right {
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
}

.title {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.title-heading {
    font-size: 2.1rem;
    font-weight: 800
}

.price-section {
    gap: 15px;
}

.discounted-price {
    font-size: 2rem;
    font-weight: 500;
}

.actual-price {
    font-size: 1.2rem;
    font-weight: 500;
    opacity: 0.6;
    margin-top: 5px;
}

.description-section {
    margin-block: 15px;
    gap: 20px;
}

.desc {
    font-weight: 600;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.6;
}

.desc:hover{
    opacity: var(--op1);
}

.details {
    font-weight: 600;
    opacity: 0.6;
    font-size: 1.1rem;
    cursor: pointer;
    transition: opacity 0.4s;
}

.details:hover {
    opacity: var(--op2);
}

.visible{
    opacity: 1;
}




.details-area {
    gap: 20px;
    position: absolute;
    top: 188px;
    left: 0;
    width: 100%;
    z-index: 2;
}



.size {
    font-size: 1.9rem;
    font-weight: 400;
}

sub {
    font-size: 1rem;
}

.unit {
    font-weight: 400;
}

.down {
    padding-bottom: 30px;
    transition: all 250ms linear;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transform: translateY(20px);
}

.text-selected {
    opacity: 1;
    transform: translateY(0);
}

.color-text {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 10px;
}

.colors-section {
    gap: 10px;
}

.selected {
    scale: 1.1;
    filter: drop-shadow(0 0 5px black);
    transition: all 0.4s;
}



.color {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(51, 51, 51, 0.336);
    cursor: pointer;
}

.cart-btn {
    margin-top: 40px;
    padding: 12px 40px;
    background-color: #944852;
    border-radius: 5px;
    gap: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.514);
    transition: background-color 0.5s;
}

.cart-btn:hover {
    background-color: #1f2029c8 !important;
}